*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(147, 206, 203);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: black;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 5px;
    margin-left: 380px;
 }   

 h3 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
 }

 ul {
    font-size: 15px;
    padding-inline-start: 40px;
 }

 ol {
    font-size: 15px;
    padding-inline-start: 40px;
 }

 img {
    width: 800px;
    height: 600px;
    margin-left: 125px;
    margin-top: 25px;
    border: 2px solid black;
    vertical-align: top;
    display: inline-block;
 }

.recipe-card {
    margin: 20px auto;
    border: 2px solid rgb(255, 196, 0);
    width: 1055px;
    background-color: rgb(255, 255, 255);
    
}

.recipe-content {
    padding: 10px 0px 10px 0px;
    width: 1000px;
    margin: 10px 0px 10px 20px;
    display: inline-block;
    vertical-align: top;
}